<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/dashStyle.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">

    <title>EzParking - Dashboard</title>
</head>
<body>

    <div class="header">
        <h1>EzParking <span class="subtitle">/ Dashboard</span></h1>

        <div class="header-right">
          <button id="logoutButton"><b>LOGOUT</b></button>
        </div>
    </div>


<div class="dashboard-container">
  <div class="dashboard-grid">

    <aside class="sidebar">
      <div class="card">Hi, {{ user.username }}!</div>
      <div class="card cars-card">
        <div class="card-header">
          <span><b>YOUR CARS:</b></span>
          <button class="add-btn" aria-label="Add car" id = "editCars">+</button>
        </div>
        {% if cars %}
          {% for car in cars %}
            <div class="car-item"><a href="/cars/edit?id={{ car.id }}">✎ {{ car.make }} {{ car.model }}</a></div>
          {% endfor %}
        {% else %}
          <div class="empty-state">None...</div>
        {% endif %}


      </div>

    </aside>
      <div class="card">
          <div id="map">
          </div>
      </div>


      <div class="card">
          <div id="permits">
              <div class="card-header">
                  <span><b>ACTIVE PERMITS:</b></span>
              </div>
              {% if permits %}
                  {% for permit in permits %}
                    <div value="{{ permit.id }}" class="permit-card">
                        <div class="card-header"><span>{{ permit.lot_name }}</span></div>
                        <strong>ENDTIME:</strong><br>{{ permit.end_time }}
                        <br><br><strong>CAR: </strong><br>{{ permit.car_make }} {{ permit.car_model }}
                        <br><i>({{ permit.car_plate }})</i>
                    </div>
                    {% endfor %}
                {% else %}
                  <div class="empty-state">None... <br><br><i>(Click the parking lot on the map to get one)</i></div>
                {% endif %}


          </div>
      </div>


  </div>
</div>
</body>
</html>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
  const map = L.map('map').setView([32.420208,-81.788078], 14);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

  fetch("/api/spots")
    .then(res => res.json())
    .then(spots => {
      spots.forEach(spot => {
        L.marker([spot.lat, spot.lng])
            .addTo(map)
            .bindPopup(`<h2><u>${spot.name}</u></h2>
                Hourly Rate: $${spot.cost_hr}
                <br>Daily Rate: $${spot.cost_day}
                <br>Monthly Rate: $${spot.cost_month}
                <br><a href="/cars/parking_lot?id=${ spot.id }"><button class="lot-btn">Parking Here?</button></a>`
            );
      });
    });
</script>
<script src="/static/js/showToast.js" defer></script>
<script src="/static/js/edit.js" defer></script>
<script src="/static/js/misc.js" defer></script>