body {
    margin: 0;
    height: 100vh;
    background: #3b75d9;

    display: flex; /*Turns full display into flexible containter*/
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */

    font-family: Courier New, monospace;
}

head{
    position: absolute;
    top: 20px;
    justify-content: space-around;
}

.register{

}

.login{

}

.logon{

}

button{
    background-color: black;
    font-family: Courier New, monospace;
    color: white;
}

#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.toast {
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.5s forwards, fadeOut 0.5s 2.5s forwards;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

@keyframes slideIn {
    to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeOut {
    to { opacity: 0; transform: translateX(100%); }
}